<% if @contents %>
  <div class="todays-contents">
    <% save_date = nil %>
    <% @contents.each_with_index do |content,idx| %>
        <% if save_date != content.updated %>
          <h1 class='todays-date'><%= content.updated.strftime("%Y年 %m月 %d日") %></h1>
          <% save_date = content.updated %>
        <% end %>
        <div class="todays-content">
          <div class="todays-content-header">
            <h1><%= content.title %></h1><br>
            <p>作成日:<%= content.created %>更新日:<%= content.updated %></p>
          </div>
          <p><%== content.content %></p>
        </div>
    <% end %>
  </div>
<% else %>
  <p>今日のノートはありません！</p>
<% end %>
<% if params[:id] %>
  <%= link_to "back","/notebooks/#{params[:id]}" %>
<% else %>
  <%= link_to "back","/notebooks" %>
<% end %>